# Carregando as bibliotecas

In [2]:
import pandas as pd # Pandas para carregamento do conjunto de dados
import numpy as np

In [3]:
from sklearn.preprocessing import LabelEncoder # Usada para codificação das categorias em números

In [4]:
# Algoritmos usados para treinamento e predição

from sklearn.linear_model import LinearRegression      # Regressão Linear
from sklearn.tree import DecisionTreeClassifier        # Árvore de Decisão
from sklearn.ensemble import RandomForestClassifier    # Floresta Aleatória
from sklearn.neighbors import KNeighborsClassifier     # KNN
from sklearn.svm import SVC                            # SVM 
from sklearn.neural_network import MLPClassifier       # Rede Neural Artificial

In [5]:
# Métricas para avaliação dos modelos
from sklearn import metrics

In [6]:
# Método para separação do conjunto em treino e teste
from sklearn.model_selection import train_test_split

In [19]:
# Biblioteca para salvamento dos codificadores e do modelo que apresentar melhor resultados
import joblib

# Definindo função para treinamento e avaliação dos algoritmos

In [7]:
def train_test_clf(clf, X, y):
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
    clf.fit(X_train, y_train)
    predicts = clf.predict(X_test)
    print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test, predicts)))
    print('R2: ', metrics.r2_score(y_test, predicts))

# Carregamento e Análise do conjunto de dados

In [9]:
#df = pd.read_csv("C:\\Users\\mabes\\Meu Drive\\LPII - python para machine learning (2021-2)\\datasets\\house_prices.csv") # Carregando o conjunto de dados na memória
df = pd.read_csv("/content/house_prices.csv")

In [ ]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [10]:
df['date'] = df['date'].astype(str).str[0:8]
df['date'] = df['date'].astype(int)

In [11]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [12]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [13]:
df.describe()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,2.014390e+07,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,4.436582e+03,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,2.014050e+07,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,2.014072e+07,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,2.014102e+07,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,2.015022e+07,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,2.015053e+07,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
df.corr()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.009857,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,...,0.008130,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798
date,0.009857,1.000000,0.003033,-0.010493,-0.027523,-0.029791,0.005599,-0.022550,-0.003798,0.001063,...,-0.031464,-0.024421,-0.016130,0.003248,-0.024070,0.001235,-0.029770,-0.000301,-0.022752,0.000154
price,-0.016762,0.003033,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,...,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.001286,-0.010493,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,...,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.005160,-0.027523,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,...,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,-0.012258,-0.029791,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,...,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,-0.132109,0.005599,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,...,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.018525,-0.022550,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,...,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
waterfront,-0.002721,-0.003798,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,...,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.011592,0.001063,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,...,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,-0.023783,-0.046517,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,...,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.008130,-0.031464,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,...,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,-0.010842,-0.024421,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,...,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,-0.005151,-0.016130,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,...,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.021380,0.003248,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,...,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,-0.016907,-0.024070,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,...,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.008224,0.001235,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,...,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,-0.001891,-0.029770,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,...,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.020799,-0.000301,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,...,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,-0.002901,-0.022752,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,...,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,-0.138798,0.000154,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,...,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

# Separando o conjunto em variáveis preditoras (X) e variável alvo (y)

In [14]:
X = df.drop(['id', 'price'], axis=1).values
y = df.price.values

In [ ]:
X

array([[ 2.0141013e+07,  3.0000000e+00,  1.0000000e+00, ...,
        -1.2225700e+02,  1.3400000e+03,  5.6500000e+03],
       [ 2.0141209e+07,  3.0000000e+00,  2.2500000e+00, ...,
        -1.2231900e+02,  1.6900000e+03,  7.6390000e+03],
       [ 2.0150225e+07,  2.0000000e+00,  1.0000000e+00, ...,
        -1.2223300e+02,  2.7200000e+03,  8.0620000e+03],
       ...,
       [ 2.0140623e+07,  2.0000000e+00,  7.5000000e-01, ...,
        -1.2229900e+02,  1.0200000e+03,  2.0070000e+03],
       [ 2.0150116e+07,  3.0000000e+00,  2.5000000e+00, ...,
        -1.2206900e+02,  1.4100000e+03,  1.2870000e+03],
       [ 2.0141015e+07,  2.0000000e+00,  7.5000000e-01, ...,
        -1.2229900e+02,  1.0200000e+03,  1.3570000e+03]])

# Usando função de treinamento e avaliação para os diferentes algoritmos

In [15]:
train_test_clf(LinearRegression(), X, y) # Regressão Linear

RMSE:  198082.31089129136
R2:  0.6962595634433679

In [ ]:
train_test_clf(DecisionTreeClassifier(), X, y) # Árvore de Decisão

RMSE:  214018.14430813628
R2:  0.6367743827330092

In [ ]:
train_test_clf(RandomForestClassifier(), X, y) # Floresta Aleatória

In [17]:
train_test_clf(KNeighborsClassifier(), X, y) # KNN

RMSE:  398692.2097575982
R2:  -0.016995841636899822

In [ ]:
train_test_clf(SVC(), X, y) # SVM

In [ ]:
train_test_clf(MLPClassifier(), X, y) # Rede Neural Artificial

In [ ]:
train_test_clf(LogisticRegression(), X, y) # Regressão Logística

# Salvando melhor classificador

In [20]:
clf = RandomForestClassifier()
#clf = LinearRegression()
clf.fit(X, y)
joblib.dump(clf, 'rf.pkl')

['rf.pkl']

# Carregando classificador

In [ ]:
clf = joblib.load('rf.pkl', 'r')

In [21]:
print(clf.predict([[ 2.0141013e+07,  3.0000000e+00,  1.0000000e+00,  1.1800000e+03,
        5.6500000e+03,  1.0000000e+00,  0.0000000e+00,  0.0000000e+00,
        3.0000000e+00,  7.0000000e+00,  1.1800000e+03,  0.0000000e+00,
        1.9550000e+03,  0.0000000e+00,  9.8178000e+04,  4.7511200e+01,
       -1.2225700e+02,  1.3400000e+03,  5.6500000e+03]]))

[198085.95076364]